.landing_main_div{
    background-image: url(../../assets/hero_landing_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.submit .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit .span:after {
    content: '\2794';
    font-size: large;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit:hover .span {
    padding-right: 25px;
  }
  
  .submit:hover .span:after {
    opacity: 1;
    right: 0;
  }

  