.social-links li a{
    font-size: 2em;
    margin: 0 10px;
    color: white;
    display: inline-block;
    transition: 0.5s;
}
.social-links li a:hover{
   transform: translateY(-10px);
}
.yukuy h4{
   color: transparent;
   -webkit-text-stroke: 1px #fff;
   background: url(../assets/textback.png);
   -webkit-background-clip: text;
}
.custom-shadow:hover{
   box-shadow: 0px 16px 48px 0px rgba(207, 207, 207, 0.81);
   /* box-shadow: 0px 16px 48px 0px rgba(255, 211, 18, 0.81); */
}
.input_phutphut:focus{
   /* box-shadow: 0px 16px 48px 0px rgba(207, 207, 207, 0.81); */
   box-shadow: 0px 25px 80px rgba(207, 207, 207, 0.81);
}